<html>
<head>
<title>Lista de tareas</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
	<div class="container">
		<h1>Lista de tareas</h1>
		<hr>
		<h2>Manejador</h2>
		<form action="/" method="post">
			<input type="text" name="taskname" placeholder="Nombre de la tarea">
			<input type="submit" value="Crear" class="btn btn-primary">
		</form>
		<div>
			<a class="btn btn-warning" href="/incomplete">Incompletas</a>
			<a class="btn btn-info disabled" href="/" >Completas</a>
		</div>
		<hr>
		<h2>Tareas completadas</h2>
		<ul class="list-group">
			<% @tasks.each do |task| %>
			<% if task["done"]%>
			<li class="list-group-item">
				<strong><%= task["id"] %></strong>
				<strong> | </strong>
				<strong><%= task["title"] %></strong>
				<strong> | </strong>
				<strong>Completada</strong>
				<span style="margin-left: 50px">
					<a href="/delete/<%= task["id"] %>" class="btn btn-danger">Borrar</a>
				</span>	
			</li>
			</li>
			<% end %>
			<% end %>
		</ul>
	</div>

</body>

</html>
